a {
    text-decoration: none;
    color: rgb(204, 142, 233);
    margin-right: 20px;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

* {
    font-family: "Roboto", sans-serif;
    color: rgb(226, 218, 218);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #1F2937;
    color: white;
}

.headerlogo {
    margin-left: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #1F2937;
    color: white;

}

section {
    border: 1px solid black;
    height: 25%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.hero {
    background-color: #1F2937;
}

.reviews {
    background-color: #E5E7EB;
}


.heroimage {
    width: 230px;
}

.flexcontainer {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 30px;
}

h1 {
    margin-bottom: -11px;
    margin-top: 13px
}

.herotext p {
    font-size: 0.98rem;
    color: rgb(182, 173, 173);
    margin-bottom: 0;
}

button {
    background-color: #3882F6;
    margin-top: 7px;
    padding: 9px 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 0.91rem;
    letter-spacing: 0.7px;
}